.product_list {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f2f2f2;
  margin: 0px 0px 0px 0px;
}
.product_list li {
  list-style: none;
}
@media (max-width: 1450px){
	.product_list {
		justify-content: center;
	}
}
@media (max-width: 500px) {
  .product_list {
    flex-direction: column;
  }
  .product_list li {
    width: 100%;
  }
}
/*----PRODUCT-CARD--------------------------------------------*/
