
.btn_cheap{
	margin-top: 69px;
	color: #50DAA8;
	border: 1px solid #00000041;
	border-radius: 16px;
	padding: 16px 48px;
	font-size: 24px;
	line-height: 28.13px;
	letter-spacing: -2%;
} 
.btn_cheap:hover{
	background-color: #50DAA8;
	color:white;
	border: 1px solid #50DAA8;
}
@media (max-width:950px){
	.btn{
		width: 100%;
		margin: 10px 0px 0px 0px;
	}
	.btn_cheap{
		padding: 16px 28px;
		font-size: 20px;
	}
}