
 .subTitle_modal {
	margin-top: 52px;
	text-transform: uppercase;
	opacity: 50%;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 4%;
 }
 .title_modal {
	margin-top: 16px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: -2%;
	margin: 8px 0px 16px 0px;
 }
 .price_modal span {
	position: relative;
	font-weight: 400;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: -2%;
	padding: 0px 0px 0px 15px;
 }
 .price_modal span::before {
	position: absolute;
	top: 7px;
	left: 0;
	content: "$";
	display: inline-block;
	height: 10px;
	font-size: 30px;
	line-height: 35.16px;
 }
 