.modal_window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.801);
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  padding: 10px ;
}
.modal_body {
  display: flex;
  width: 364px;
  height: 516px;
  border-radius: 24px;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  margin: 10px;

}
.escape_modal {
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -16px;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 50%;
  z-index: 1;
}
.escape_modal::before,
.escape_modal::after {
  top: 17px;
  right: 8px;
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  border-radius: 3px;
  background: rgb(0, 0, 0);
}
.escape_modal::before {
  transform: rotate(45deg);
}
.escape_modal::after {
  transform: rotate(-45deg);
}

.form_modal {
  margin-top: 16px;
  max-width: 100%;
}
.input_modal {
  display: block;
  margin: 16px 0px 0px 0px;
  width: 256px;
  padding: 19px;
  border: 1px solid #00000020;
  border-radius: 16px;
}
.input_modal::placeholder {
  color: #00000050;
}
.active {
  border: 1px solid #50daa8;
}
.input_modal_false {

  margin: 16px 0px 10px 0px;
  width: 256px;
  padding: 19px;

  border-radius: 16px;
  border: 1px solid #e43f3f;
}
.button_modal {
  width: 288px;
  border: 1px solid #00000086;
  border-radius: 16px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  color: #4bcfa0;
  margin: 32px 0px 0px 0px;
}
.button_modal:hover {
  background-color: #4bcfa0;
  color: white;
  border: 1px solid #4bcfa0;
}
@media (max-width: 630px) {
  .modal_body {
    display: flex;
    max-width: 80%;
    max-height: 100%;
  }
  .subTitle_modal {
    margin: 20px 0px 0px 0px;
  }
  .title_modal {
    font-size: 25px;
    margin: 0px;
  }
  .price_modal span {
    font-size: 40px;
  }

  .input_modal {
    max-width: 90%;
    padding: 10px;
    margin: 10px 0px;
  }
  .button_modal {
    max-width: 70%;
    padding: 10px 10px;
    margin: 10px 0px 30px 0px;
  }
}
