.product_list{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	background-color: #F2F2F2;
justify-content: center;
}
.product_list li{
	list-style: none;
}
/*----PRODUCT-CARD--------------------------------------------*/
